<!DOCTYPE html>
<html lang="en">
<head>
    <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title class="”Classe1”">BDS ENPC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_ordi.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_tel.css') }}">
                <link rel="stylesheet" href="{{ url_for('static', filename='style_club.css') }}">
    <link rel="icon" href="static/img/logo/logo_BDS_transparent.png">
  </head>
</head>
<body>
<!--Barre de navigation-->
    <nav>
      <img src="{{ url_for('static', filename='img/logo/logo_BDS_transparent.png') }}" class="logo">
      <ul>
        <li><a href="/Accueil.html">Accueil</a></li>
        <li class="dropdown">
            <a href="/Les sports aux ponts.html" class="dropdown-toggle">Les sports aux ponts</a>
            <ul class="dropdown-menu">
                <li><a href="/club/Pompims.html">Pompims</a></li>
                <li><a href="/club/Rock.html">Rock</a></li>
                <li><a href="/club/Voile.html">Voile</a></li>
                <li><a href="/club/Aviron.html">Aviron</a></li>
                <li><a href="/club/Course.html">Course</a></li>
                <li><a href="/club/Escalade.html">Escalade</a></li>
                <li><a href="/club/Micro Aventure.html">Micro Aventure</a></li>
                <li><a href="/club/Ultra.html">Ultra</a></li>
                <li><a href="/club/Rugbyx.html">Rugbyx</a></li>
            </ul>
          <li><a href="/Van.html">Réservation de van</a></li>
          <li><a href="/Events.html">Réservation d'event</a></li>
          <li><a href="/Mandats.html">Mandats</a></li>
        <li><a href="/Partenaires.html">Partenaires</a></li>
        <li class="dropdown">
          <a href="/admin/register.html" class="dropdown-toggle">Authentification</a>
          <ul class="dropdown-menu">
            <li><a href="/admin/login.html">Connexion</a></li>
            <li><a href="/admin/register.html">Créer un compte</a></li>
        <li><a href="/Contacts.html">Contacts</a></li>
      </ul>
    </nav>
<div class="banniere_microaventure">
     <div class="overlay"></div>
    <h1 class="titre-banniere" >Micro Aventure</h1>
</div>



<div class="content_club">
  <img src="/static/img/clubs/logo micro aventure.jpg" alt="Logo" class="centered-image" style="width: 40vh; margin-top:5vh"/>
    <h1>Description du club :</h1>
    <div class="encadres_club">
<p>Le club Micro Aventure organise régulièrement des sorties pour tous les aventuriers de l'école. Entre weekends trek,
    compétitions de voyage en stop dans toute l'europe ou encore explorations, tout le monde est servi!</p>
    </div>
    <div class="galerie_club">

        <img src="/static/img/clubs/photo micro aventure 4.jpg">
        <img src="/static/img/clubs/photo micro aventure 5.jpg">
        <img src="/static/img/clubs/photo micro aventure 6.jpg">
    </div>
    <img src="/static/img/clubs/photo micro aventure 1.jpg" style="position: center; width: 60vh">
</div>

<!-- mentions légales en bas de page -->
  <div class="section" style="padding-top : 4%; padding-bottom:0%">
      <div class="section_reseau">
       <div class="contenant_reseau" style="width: 40vh; margin-left: 10vh">
           <h1>Mentions légales</h1>
           <p>AS DE L ENPC, Association déclarée. 6 Avenue Blaise Pascal - 77420 Champs sur marne.
           </p>
       </div>

          <div class="contenant_reseau" style="width: 60vh">
           <h1>Nos réseaux</h1>
              <div class="section_reseaux" style="display: flex">
            <a style="text-decoration : none" href="https://www.instagram.com/bds.enpc/" target="_blank">
          <img class="insta" src="/static/img/Reseaux/InstaB.png">
           </a>


         <a style="text-decoration : none" href="https://www.facebook.com/bds.ecoledesponts" target="_blank">
          <img class="facebook" src="/static/img/Reseaux/FbB.png">
        </a>


        <a style="text-decoration : none" href="mailto:bds.enpc@gmail.com" target="_blank">
          <img class="mail" src="/static/img/Reseaux/mailbb.png">
          </a>

                  </div>
       </div>

          <div class="contenant_reseau" style="width: 40vh">
           <h1>Le bureau des Sports</h1>
            <p> Les Bureau des Sports veille au bon déroulement du sport interne à l'École, mais organise surtout
              les évènement sportifs rythmant l'année des étudiants. </p>
       </div>

          <div class="contenant_reseau">
           <h1>Liens utiles</h1>


              <ul style="list-style-type: none; padding-left: 0; margin-bottom: 50px; margin-left: 50px;">
    <li style="display: flex; align-items: flex-start;"><span style="width: 15px; text-align: center; margin-right: 5px;">
    </span> <a href="https://ecoledesponts.fr/" style="color:  red"> école des Ponts </a></li>
                  <hr>
    <li style="display: flex; align-items: flex-start;"><span style="width: 15px; text-align: center; margin-right: 5px;">
    </span> <a href="https://www.fondationdesponts.fr/" style="color:  red"> fondation des Ponts </a></li>
                  <hr>
    <li style="display: flex; align-items: flex-start;"><span style="width: 15px; text-align: center; margin-right: 5px;">
    </span> <a href="https://www.ponts.org/fr/" style="color:  red"> Ponts Alumni</a></li>
                  <hr>
    <li style="display: flex; align-items: flex-start;"><span style="width: 15px; text-align: center; margin-right: 5px;">
    </span> <a href="https://www.ip-paris.fr/" style="color:  red"> Institut Polytechnique de Paris </a> </li>
                  <hr>
    </ul>
       </div>

          </div>
    </div>

  <footer>
    <p>
        Copyright © 2020 - All Rights Reserved - bds.enpc.org
    </p>

  </footer>
</body>
</html>